$theblue: #071D49;

// Big mornitor

@media (min-width: 1700px) {
	.membership {
		height: 800px;
		width: 100%;
	
		
		#membershipLine{
			width: 100%;
			height: 100%;
			left: 50%;
			top: -10%;
			transform: translateX(-50%);
			
		}
	}
}

@media (min-width: 1600px) {
	.membership {
		height: 600px;
		width: 100%;
		
		#membershipLine{
			width: 100%;
			left: 50%;
			transform: translateX(-50%);
			
		}
	}
}

// Laptop

@media (max-width: 1500px) {
	.container {
		max-width: 90%;
	}
	.membership {
		height: 600px;
		width: 100%;
		
		#membershipLine{
			width: 100%;
			height: 80%;
			left: 50%;
			transform: translateX(-50%);
			
		}
	}
}

// Ipad lanscape

@media (min-width: 992px) and (max-width: 1200px) {
	.font-30 {
		font-size: 26px !important;
	}
	.din-title {
		font-size: 55px;
	}
	#banner h2 {
		font-size: 90px;
	}
	.accordion-thumb {
		font-size: 20px;
	}
	.booking-form .form-group {
		padding: 20px 15px;
	}
	.booking-form .form-control {
		font-size: 22px;
	}
	.booking-form .submit-btn {
		font-size: 16px;
	}
	.perk-wrap ul li {
		display: block;
	}
	.perk-wrap a {
		display: block;
		height: 26px;
	}
	.col2-section .content-side {
		padding: 50px;
	}
	.seeyou p {
		font-size: 36px;
	}
	.story-expand .calendar {
		position: relative;
		bottom: 20px;
		right: auto;
	}

}

// Ipad lanscape and below

@media (max-width: 1200px) {
	.content-hover-wrap {
		.content {
			bottom: 0;
			.details {
				opacity: 1;
			}
		}
		img { 
			transform: scale(1.1);
		}
		&:before {
			background: #00000052;
		}
	}
	.perk-wrap {
		padding: 30px 15px;
	}
	.booking-form-wrap {
		display: none;
	}
	.float-book-wrap { 
		display: block;
	}
	header .booknow-btn {
		display: none;
	}

}

// Ipad Portrait and below

@media (max-width: 991px) {

	.overlayNav.container {
		overflow: hidden;
		top: 0;
		left: 0;
		max-width: 100%;
		width: 100vw;
		height: 100vh;
		padding: 0;
		margin: 0;
		background-color: #D9C7B6;
		transition: all 0.5s ease;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 0px 0px;
		grid-template-areas:
		"leftMenu";
	
		
	
			.leftMenu {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin: 0;
				padding: 0;
				grid-area: leftMenu;
	
				.container {
					width: 95%;
					height: 90%;
					max-width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					text-align: start;
	
					.selectLocation {
						margin-top: 70px;
						
	
						h5 {
							letter-spacing: 1.5px;
						}
	
						ul {
							list-style: none;
							padding: 0;
							font-size: 50px
						}
						
						.locationList{
							position: relative;
							cursor: pointer;	
							font-size: 24px;
							padding: 10px 0;
							border-top: solid rgba(0, 0, 0, 0.445) 1px;
						}
						.locationList:last-child{
							border-bottom:solid rgba(0, 0, 0, 0.445) 1px;
						}
						
						.locationList:after{
							border: solid black;
							  border-width: 0 2px 2px 0;
							  display: inline-block;
							padding: 6px;
							opacity: 100;
							transform: rotate(-45deg) translateY(50%) translateX(-50%);
							position: absolute;
							right: 5%;
							bottom: 50%;
							content: "";
							transition: all ease 0.3s;
						}
						.locationList.active:after{
							border: solid black;
							border-width: 0 2px 2px 0;
							display: inline-block;
							padding: 6px;
							opacity: 100;
							transform: rotate(-45deg) translateY(50%) translateX(-50%);
							position: absolute;
							bottom: 50%;
							content: "";
							transition: all ease 0.3s;
							
							
							
						}
					}
	
					.listMenu {
						display: flex;
						justify-content: space-between;
	
						ul {
							list-style: none;
							padding: 0;
							width: 50%;
							line-height: 35px;
							letter-spacing: 1px;
	
						}
					}
	
					.socialLink {
						a {
							margin-right: 10px;
						}
					}
				}
	
			}
	
			.rightMenu[data-background-image]{
				transition: ease all 0.3s;
				
			
				
			}
			.rightMenu[data-background-image="default"]{
				background-image: none; 
				
				
				
			}
	
			.rightMenu[data-background-image="chinaDefault"]{
				background-image: none;
				
			}
			.rightMenu[data-background-image="chinaOverview"]{
				background-image: none;
				
				
			}
			.rightMenu[data-background-image="chinaRoom"]{
				background-image: none;
			
				
			}
			.rightMenu[data-background-image="chinaRestaurant"]{
				background-image: none;
				
				
			}
			.rightMenu[data-background-image="chinaGuide"]{
				background-image: none;
				
				
			}
			.rightMenu[data-background-image="chinaHappenings"]{
				background-image: none;
				
				
			}
			.rightMenu[data-background-image="chinaOffers"]{
				background-image: none;
			
				
			}
			.rightMenu[data-background-image="sathornDefault"]{
				background-image: none;
				
				
			}
			.rightMenu[data-background-image="sathornOverview"]{
				background-image: none;
				
				
			}
			.rightMenu[data-background-image="sathornRoom"]{
				background-image: none;
			
				
			}
			.rightMenu[data-background-image="sathornRestaurant"]{
				background-image: none;
				
				
			}
			.rightMenu[data-background-image="sathornGuide"]{
				background-image: none;
				
				
			}
			.rightMenu[data-background-image="sathornHappenings"]{
				background-image: none;
				
				
			}
			.rightMenu[data-background-image="sathornOffers"]{
				background-image: none;
				
				
			}
			
	
			.rightMenu {
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: absolute;
				transform: translateX(100%);
				transition: ease 1s all;
				height: 100vh;
				width: 100vw;
				margin: 0;
				padding: 0;
				

			
				
	
				.container {
					width: 95%;
					height: 80%;
					max-width: 100%;
					
					
					
					
					.returnButton{
						width: 100%;
						text-align: start;
						font-size: 24px;
						margin-top: 25px;
						font-family: 'CircularStdBold';
						
						
						
					}
					.returnButton:before{
						border: solid black;
  						border-width: 0 2px 2px 0;
  						display: inline-block;
						padding: 7px;
						opacity: 100;
						transform: rotate(135deg) translateX(-20%) translateY(-20%);
						content: "";
						margin-right: 10px;

						
						
					}
					.returnButton.chinatown:after{
						content:"Bangkok Chinatown";
						font-weight: 400;
					}
					.returnButton.sathorn:after{
						content:"Bangkok Sathorn";
						font-weight: 400;
					}

					ul {
						list-style: none;
						text-align: start;
						padding: 0;
						margin-top: 20px;
						font-size: 24px;
						line-height: 50px;
	
						li {
							a {
								color: $theblue;
								font-family: 'CircularStdBook';
							}
						}
					}
					.locationNavMenu{
						
						pointer-events: none;
						transition: ease-in-out all 0.5s;
						transform: translateX(100%);
						position: absolute;
						
	
					}
					.locationNavMenu.active{
						pointer-events: all;
						display: block!important;
						transform: translateX(0);				}
				}
			}

			
		
	
	}

	.overlayNav.container.secondLayer{
		

		

		.rightMenu{
			opacity: 100;
			transform: translateX(0);
			background-color: #D9C7B6;
			height: 100vh;
			width: 100vw;
			filter: none;
			
		
		}

		
	}
	

	

	.col2-section .content-side > div {
		position: relative;
		padding: 0;
	}
	.location-swiper .swiper-pagination {
		display: block;
	}
	.offercard-wrap .card .content {
		text-align: center;
	}
	.col2-section {
		height: auto;
	}
	.accordion-section .image-side {
		display: none;
	}
	.accordion-panel img {
		display: block;
		height: 400px;
		object-fit: cover;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.col2-section .content-side {
		padding: 50px 10%;
	}
	.container {
		max-width: 80%;
	}
	.offercard-wrap {
    	margin: auto;
    	margin-top: 30px;
	}
	.story-expand {
		display: block;
	}
	.membership {
		height: auto;
	}
	.membership #membershipLine {
		margin-top: 30px;
		position: relative;
		bottom: 0;
		margin-bottom: 100px;
	}
	.din-title {
		margin-bottom: 30px;
	}
	.col2-section .content-side {
		padding: 100px 10%;
	}
	.accordion-wrap {
		margin-top: 60px;
	}
	.box-bottom .content h3 {
		width: 400px;
	}
	.instagram-wrap .col-lg:last-child {
		display: block;
	}
	.story-expand .calendar {
		right:0;
	}
	.instagram-wrap .col-lg {
		margin-top: 12px;;
	}
	.story-expand .item h3 {
		font-size: 30px;
	}
	.story-expand h2 {
		font-size: 70px;
	}
	.story-expand .item:hover {
		flex: 1.5;
		opacity: 1 !important;
		h3 {
			transform: scale(1);
		}
		h2 {
			transform: scale(1);
		}
		.cat-text {
			top: -10px;
		}
	}
	.membership {
		text-align: center;
	}
	.membership  .din-title {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		left: 0;
		right: 0;
	}
	footer form {
		margin-bottom: 30px;
	}
	footer form input:first-child {
		width: 70%;
	}
	footer form input:last-child {
		width: 28%;
	}
	footer .logo {
		margin: auto;
		left: 0;
		right: 0;
		display: block;
		margin-bottom: 30px;
	}
	.box-top {
		padding: 20px 30px;
	}
	.story-expand .calendar {
		bottom: 0;
	}
	.story-expand .item {
		margin-bottom: 10px;
	}
	.locations {
		padding-bottom: 40px;
	}
	.locations .swiper-container-horizontal>.swiper-pagination-bullets, 
	.locations .swiper-pagination-custom, .swiper-pagination-fraction {
		bottom: -38px;
		left: 20px;
		text-align: left;
	}
	.locations .swiper-pagination-bullet-active {
		background-color: $theblue;
		opacity: 1;
	}



	.matchingoffer {
		background: hsl(0, 0%, 93%);
		height:100vh;
		width: 100vw;
		display: flex;
		align-items: center;
		overflow: hidden;
		padding: 25px 0;
		.container{
			width: 85%;
			height: 80%;
			
			
			.row{
				height: 100%;
				display: flex;
				align-items: center;
	
				.topPart{
					height: 20%;
					transform: translateY(0);
					.din-title{
						transform: translateY(0);
					}
				}
	
				.bottomPart{
					height: 80%;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					.offercard-wrap{
						margin-top: 0;
						height: 100%;
						width: 100%;
						
						.card{
							left: 0;
							right: 0;
							max-width: 350px;
							margin: 0 auto;
						}
	
						.buttonContainer{
							position: absolute;
							width: 200px;
							display: flex;
							justify-content: space-between;
							left: 50%;
							transform: translateX(-50%);
							top: initial;
							bottom: 0;
							

							
						
							.arrowButton{
								width: 40px;
								height: 40px;
								border-radius: 50%;
								font-size: 20px;
								border: 1px solid $theblue;
								color: $theblue;
								display: flex;
								align-items: center;
								justify-content: center;
								cursor: pointer;
							}
						}
					}
					
					
				}
				
			}
	
			
		}
		
		
	}

	
	
}

// mobile

@media (max-width: 767px) {

	header{
		padding: 0px 15px;
		
		align-items: center;
	}
	.left-header{
		display: flex;
		align-items: center;
		.hamburger{
			padding: 20px 0 10px;
			.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
			width: 35px;
			}
			
		}
		.hamburger--slider .hamburger-inner {
			top: 2px;
		}
		
		.hamburger--slider .hamburger-inner::before {
			top: 8px;
			transition-property: transform, opacity;
			transition-timing-function: ease;
			transition-duration: 0.15s;
		}
		
		.hamburger--slider .hamburger-inner::after {
			top: 16px;
		}

		.hamburger--slider.is-active .hamburger-inner {
			transform: translate3d(0, 10px, 0) rotate(45deg);
		
		}
		
		.hamburger--slider.is-active .hamburger-inner::before {
			transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
			opacity: 0;
		}
		
		.hamburger--slider.is-active .hamburger-inner::after {
			transform: translate3d(0, -16px, 0) rotate(-90deg);
		}
		
	}

	.headerLogoWrap{
		svg{
			width: 50px;
			height: auto;
		}
	}

	.right-header{
		svg{
			width: 25px;
			height: auto;
		}
	}



	h3 {
		font-size: 20px;
	}
	.pt-large {
		padding-top: 80px;
	}
	
	.pb-large {
		padding-bottom: 80px;
	}
	.cat-text {
		font-size: 12px;
	}
	.pt-med {
		padding-top: 60px;
	}
	.col2-section .image-side {
		height: 600px;
		
	}
	.pb-med {
		padding-bottom: 60px;
	}
	.story-expand .item .cat-text,
	.story-expand .item:hover .cat-text {
		top: 0;
		margin-bottom: 5px;
	}
	
	.font-30 {
		font-size: 24px !important;
	}
	.location-swiper {
		margin-top: 40px;
	}
	.content-hover-wrap img {
		height: 550px;
	}
	#banner h2 {
		font-size: 64px;
		padding-top: 0;
	}
	.logo-header {
		width: 50px;
	}
	.navimg {
		width: 35px;
	}
	.usericon {
		width: 27px;
	}
	
	.float-booking {
		font-size: 14px;
		padding: 14px;
		letter-spacing: .6px;
	}
	.content-hover-wrap .content {
		padding: 30px;
	}
	.col2-section .content-side {
		padding: 70px 25px;
	}
	.din-title {
		font-size: 44px;
	}
	.subtitle {
		font-size: 20px;
	}
	.accordion-thumb {
		font-size: 22px;
	}
	.accordion-panel img {
		height: 250px;
	}
	.accordion-thumb::before {
		margin-left: 0;
	}
	.accordion-wrap {
		margin-top: 30px;
	}
	.accordion-panel {
		padding-left: 50px;
	}
	.accordion-item:before {
		width: 50px;
	}
	
	.accordion-section .content-side {
		padding-right: 0;
	}
	.accordion-panel span {
		padding-right: 25px;
		display: block;
	}
	.gallery-swiper {
		height: 600px;
	}
	.container {
		max-width: 100%;
		padding-left: 25px;
		padding-right: 25px;
	}
	.box-bottom .content {
		bottom: 30px;
		left: 25px;
	}
	.story-expand h2 {
		font-size: 50px;
	}
	.instagram h2 {
		text-align: center;
	}
	.seeyou p {
		font-size: 34px;
		margin-bottom: 0;
	}
	.seeyouwrap {
		margin-top: 20px;
	}

	.seeyou h2 {
		font-size: 22px;
	}
	
	.offercard-wrap {
		max-width: 350px;
		margin-top: 10px;
	}
	.box-top {
		padding: 8px 25px;
	}
	.box-bottom img {
		height: 350px;
	}
	.story-expand .box-top a {
		top: 30px;
	}
	.story-expand .item h3 {
		font-size: 20px;
	}
	.box-bottom .content h3 {
		width: 250px;
	}
	footer * {
		font-size: 14px;
	}
	.locations h2 br {
		display: block;
	}


	.matchingoffer {
		background: hsl(0, 0%, 93%);
		height: 700px;
		width: 100vw;
		display: flex;
		padding: 30px 0;
		flex-direction: column;
		
		

		
		.container{
			width: 85%;
			height: 100%;
			
			
			.row{
				height: 100%;
				
				
				.topPart{
					align-self: start;
					transform: translateY(0);
					.din-title{
						transform: translateY(0);
						margin: 0;
					}
				}
	
				.bottomPart{
					
					width: 100%;
					display: flex;
					align-items: flex-start;
					justify-content: center;
					.offercard-wrap{
						margin-top: 0;
						height: 100%;
						width: 100%;
						
						.card{
							left: 0;
							right: 0;
							max-width: 350px;
							margin: 0 auto;
						}
	
						.buttonContainer{
							position: absolute;
							width: 200px;
							display: flex;
							justify-content: space-between;
							left: 50%;
							transform: translateX(-50%);
							top: initial;
							bottom: 0;
							

							
						
							.arrowButton{
								width: 40px;
								height: 40px;
								border-radius: 50%;
								font-size: 20px;
								border: 1px solid $theblue;
								color: $theblue;
								display: flex;
								align-items: center;
								justify-content: center;
								cursor: pointer;
							}
						}
					}
					
					
				}
				
			}
	
			
		}
		
		
	}

	
}