@media (min-width: 1700px) {
  .membership {
    height: 800px;
    width: 100%;
  }
  .membership #membershipLine {
    width: 100%;
    height: 100%;
    left: 50%;
    top: -10%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (min-width: 1600px) {
  .membership {
    height: 600px;
    width: 100%;
  }
  .membership #membershipLine {
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 1500px) {
  .container {
    max-width: 80%;
  }
  .membership {
    height: 600px;
    width: 100%;
  }
  .membership #membershipLine {
    width: 100%;
    height: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .font-26 {
    font-size: 26px !important;
  }
  .din-title {
    font-size: 55px;
  }
  #banner h2 {
    font-size: 90px;
  }
  .accordion-thumb {
    font-size: 20px;
  }
  .booking-form .form-group {
    padding: 20px 15px;
  }
  .booking-form .form-control {
    font-size: 22px;
  }
  .booking-form .submit-btn {
    font-size: 16px;
  }
  .perk-wrap ul li {
    display: block;
  }
  .perk-wrap a {
    display: block;
    height: 26px;
  }
  .col2-section .content-side {
    padding: 50px;
  }
  .seeyou p {
    font-size: 36px;
  }
  .story-expand .calendar {
    position: relative;
    bottom: 20px;
    right: auto;
  }
}

@media (max-width: 1200px) {
  .content-hover-wrap .content {
    bottom: 0;
  }
  .content-hover-wrap .content .details {
    opacity: 1;
  }
  .content-hover-wrap img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .content-hover-wrap:before {
    background: #00000052;
  }
  .perk-wrap {
    padding: 30px 15px;
  }
  .booking-form-wrap {
    display: none;
  }
  .float-book-wrap {
    display: block;
  }
  header .booknow-btn {
    display: none;
  }
  .mapContainer {
    width: 90%;
    max-width: 1440px;
    height: 90vh;
    max-height: 900px;
    padding: 70px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .mapContainer .content-side {
    width: 50%;
    padding: 20px 50px 0;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mapContainer .image-side {
    width: 50%;
    padding-left: 50px;
  }
  .videoIcon {
    width: 115px !important;
    height: 115px !important;
  }
  .reservationContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 80px 0px;
  }
  .imageTextSliderContainer {
    height: 100vh;
    width: 100%;
  }
  .imageTextSliderContainer .customSlide {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    background-color: #94B3C4;
        grid-template-areas: "imageWrap imageWrap titleWrap titleWrap" "imageWrap imageWrap textWrap textWrap" "imageWrap imageWrap textWrap textWrap";
  }
  .imageTextSliderContainer .imageWrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: imageWrap;
  }
  .imageTextSliderContainer .imageWrap img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .imageTextSliderContainer .titleWrap {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: titleWrap;
    padding: 80px 30px 0;
  }
  .imageTextSliderContainer .textWrap {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: textWrap;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    padding: 110px 30px 30px;
  }
  .imageTextSliderContainer .textWrap h4 {
    font-size: 24px;
  }
  .imageTextSliderContainer .textWrap p {
    font-size: 16px;
    margin-top: 20px;
  }
  .imageTextSliderContainer .textWrap .buttonContainer {
    margin-top: 30px;
    width: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 991px) {
  header.nonTransparent {
    background-color: white;
    top: 0;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    z-index: 100;
  }
  header.nonTransparent .hamburger-inner, header.nonTransparent .hamburger-inner::before, header.nonTransparent .hamburger-inner::after {
    background-color: #071D49;
  }
  header.nonTransparent .svgHeaderIcon {
    fill: #071D49;
    color: white;
    background-color: #071D49;
  }
  header.nonTransparent .locationNavDesktop {
    display: none !important;
  }
  header.nonTransparent .locationNavMobile:focus {
    outline: none;
  }
  header.nonTransparent .ac:focus, header.nonTransparent .ac-header:focus, header.nonTransparent .ac-panel:focus, header.nonTransparent .ac-trigger:focus {
    outline: none;
  }
  header.nonTransparent .locationNavMobile {
    position: absolute;
    top: 80px;
    bottom: 0;
    display: block;
    width: 100%;
    border-top: 0.5px solid rgba(128, 128, 128, 0.377);
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  header.nonTransparent .locationNavMobile .ac.is-active .ac-header .ac-trigger:after {
    content: "";
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    right: 0;
    background-position: center;
    -webkit-transform: translate(-20%, -60%) rotate(180deg);
            transform: translate(-20%, -60%) rotate(180deg);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  header.nonTransparent .locationNavMobile .ac {
    /*
				box-shadow:
				0 2.8px 2.2px rgba(0, 0, 0, 0.014),
				0 6.7px 5.3px rgba(0, 0, 0, 0.018),
				0 12.5px 10px rgba(0, 0, 0, 0.06),
				0 22.3px 17.9px rgba(0, 0, 0, 0.022),
				0 41.8px 33.4px rgba(0, 0, 0, 0.016),
				0 100px 80px rgba(0, 0, 0, 0.12)
;					*/
    margin: 0 !important;
    border: 0 !important;
    border: 0;
    padding: 15px 30px;
    border-top: 1px solid gray;
  }
  header.nonTransparent .locationNavMobile .ac .ac-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header.nonTransparent .locationNavMobile .ac .ac-header .ac-trigger {
    padding: 0;
    color: #071D49;
    font-family: 'din_condensedbold';
    font-size: 20px;
  }
  header.nonTransparent .locationNavMobile .ac .ac-header .ac-trigger:after {
    content: "";
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    right: 0;
    background-position: center;
    -webkit-transform: translate(-25%, -50%);
            transform: translate(-25%, -50%);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  header.nonTransparent .locationNavMobile .ac .ac-panel ul {
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    font-family: 'CircularStdBook';
  }
  .matchingoffer {
    background: #ededed;
    height: 900px;
    width: 100vw;
  }
  .matchingoffer .titleCardWrapContainer {
    max-width: 991px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 0;
  }
  .matchingoffer .titleCardWrapContainer .titleWrap {
    width: 100%;
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap {
    width: 100%;
    height: 80%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards {
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards div:nth-child(2) {
    pointer-events: all !important;
    cursor: -webkit-grab !important;
    cursor: grab !important;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .buttonContainer {
    width: 120px;
    position: absolute;
    top: initial;
    left: 50%;
    bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .buttonContainer .arrowButton {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: solid 2px #071D49;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer !important;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .buttonContainer .arrowButton .left {
    position: relative;
    right: 3px;
    bottom: 1px;
    cursor: pointer;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .buttonContainer .arrowButton .right {
    position: relative;
    left: 3px;
    bottom: 1px;
    cursor: pointer;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .card {
    background: #E7BF92;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    pointer-events: none;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
    width: 350px;
    height: 420px;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .card .row {
    pointer-events: none !important;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .card .content {
    padding-top: 20px;
    pointer-events: none !important;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .card.purple {
    background-color: #AC9DB4;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .card.green {
    background-color: #90AD9D;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .cards .card.moving {
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .cards .link {
    margin-top: 10px;
    display: inline-block;
  }
  .overlayNav.container {
    overflow: hidden;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #D9C7B6;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0px 0px;
        grid-template-areas: "leftMenu";
  }
  .overlayNav.container .leftMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: leftMenu;
  }
  .overlayNav.container .leftMenu .container {
    width: 95%;
    height: 90%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: start;
  }
  .overlayNav.container .leftMenu .container .selectLocation {
    margin-top: 70px;
  }
  .overlayNav.container .leftMenu .container .selectLocation h5 {
    letter-spacing: 1.5px;
  }
  .overlayNav.container .leftMenu .container .selectLocation ul {
    list-style: none;
    padding: 0;
    font-size: 50px;
  }
  .overlayNav.container .leftMenu .container .selectLocation .locationList {
    position: relative;
    cursor: pointer;
    font-size: 24px;
    padding: 10px 0;
    border-top: solid rgba(0, 0, 0, 0.445) 1px;
  }
  .overlayNav.container .leftMenu .container .selectLocation .locationList:last-child {
    border-bottom: solid rgba(0, 0, 0, 0.445) 1px;
  }
  .overlayNav.container .leftMenu .container .selectLocation .locationList:after {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px;
    opacity: 100;
    -webkit-transform: rotate(-45deg) translateY(50%) translateX(-50%);
            transform: rotate(-45deg) translateY(50%) translateX(-50%);
    position: absolute;
    right: 5%;
    bottom: 50%;
    content: "";
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .overlayNav.container .leftMenu .container .selectLocation .locationList.active:after {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px;
    opacity: 100;
    -webkit-transform: rotate(-45deg) translateY(50%) translateX(-50%);
            transform: rotate(-45deg) translateY(50%) translateX(-50%);
    position: absolute;
    bottom: 50%;
    content: "";
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .overlayNav.container .leftMenu .container .listMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .overlayNav.container .leftMenu .container .listMenu ul {
    list-style: none;
    padding: 0;
    width: 50%;
    line-height: 35px;
    letter-spacing: 1px;
  }
  .overlayNav.container .leftMenu .container .socialLink a {
    margin-right: 10px;
  }
  .overlayNav.container .rightMenu[data-background-image] {
    -webkit-transition: ease all 0.3s;
    transition: ease all 0.3s;
    position: absolute;
  }
  .overlayNav.container .rightMenu[data-background-image="default"]:before {
    background-image: none;
  }
  .overlayNav.container .rightMenu[data-background-image="chinaDefault"]:before {
    background-image: none;
  }
  .overlayNav.container .rightMenu[data-background-image="chinaOverview"]:before {
    background-image: none;
  }
  .overlayNav.container .rightMenu[data-background-image="chinaRoom"]:before {
    background-image: none;
  }
  .overlayNav.container .rightMenu[data-background-image="chinaRestaurant"]:before {
    background-image: none;
  }
  .overlayNav.container .rightMenu[data-background-image="chinaGuide"]:before {
    background-image: none;
  }
  .overlayNav.container .rightMenu[data-background-image="chinaHappenings"]:before {
    background-image: none;
  }
  .overlayNav.container .rightMenu[data-background-image="chinaOffers"]:before {
    background-image: none;
  }
  .overlayNav.container .rightMenu[data-background-image="sathornDefault"]:before {
    background-image: none;
  }
  .overlayNav.container .rightMenu[data-background-image="sathornOverview"]:before {
    background-image: none;
  }
  .overlayNav.container .rightMenu[data-background-image="sathornRoom"]:before {
    background-image: none;
  }
  .overlayNav.container .rightMenu[data-background-image="sathornRestaurant"]:before {
    background-image: none;
  }
  .overlayNav.container .rightMenu[data-background-image="sathornGuide"]:before {
    background-image: none;
  }
  .overlayNav.container .rightMenu[data-background-image="sathornHappenings"]:before {
    background-image: none;
  }
  .overlayNav.container .rightMenu[data-background-image="sathornOffers"]:before {
    background-image: none;
  }
  .overlayNav.container .rightMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: ease 1s all;
    transition: ease 1s all;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  .overlayNav.container .rightMenu .container {
    width: 95%;
    height: 80%;
    max-width: 100%;
  }
  .overlayNav.container .rightMenu .container .returnButton {
    width: 100%;
    text-align: start;
    font-size: 24px;
    margin-top: 25px;
    font-family: 'CircularStdBold';
  }
  .overlayNav.container .rightMenu .container .returnButton:before {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 7px;
    opacity: 100;
    -webkit-transform: rotate(135deg) translateX(-20%) translateY(-20%);
            transform: rotate(135deg) translateX(-20%) translateY(-20%);
    content: "";
    margin-right: 10px;
  }
  .overlayNav.container .rightMenu .container .returnButton.chinatown:after {
    content: "Bangkok Chinatown";
    font-weight: 400;
    position: relative;
    z-index: 2;
  }
  .overlayNav.container .rightMenu .container .returnButton.sathorn:after {
    content: "Bangkok Sathorn";
    font-weight: 400;
    position: relative;
    z-index: 2;
  }
  .overlayNav.container .rightMenu .container ul {
    list-style: none;
    text-align: start;
    padding: 0;
    margin-top: 20px;
    font-size: 24px;
    line-height: 50px;
  }
  .overlayNav.container .rightMenu .container ul li a {
    color: #071D49;
    font-family: 'CircularStdBook';
  }
  .overlayNav.container .rightMenu .container .locationNavMenu {
    pointer-events: none;
    -webkit-transition: ease-in-out all 0.5s;
    transition: ease-in-out all 0.5s;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    position: absolute;
  }
  .overlayNav.container .rightMenu .container .locationNavMenu.active {
    pointer-events: all;
    display: block !important;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .overlayNav.container.secondLayer .rightMenu {
    opacity: 100;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: #D9C7B6;
    height: 100vh;
    width: 100vw;
    -webkit-filter: none;
            filter: none;
  }
  .mapContainer {
    width: 90%;
    max-width: none;
    height: 100%;
    max-height: 150vh;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .mapContainer .content-side {
    width: 100%;
    padding: 0;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mapContainer .image-side {
    width: 100%;
    height: 450px;
    padding-left: 0;
    margin-top: 30px;
  }
  .reservationContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0;
    max-width: 600px !important;
  }
  .reservationContainer .detailWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reservationContainer .detailWrap .description {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reservationContainer .detailWrap .description h3 {
    font-family: CircularStdBook;
    font-weight: 700;
  }
  .reservationContainer .detailWrap .openingTime {
    margin-top: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reservationContainer .detailWrap .openingTime h3 {
    font-family: CircularStdBook;
    font-weight: 700;
  }
  .reservationContainer .detailWrap .contact {
    margin-top: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  .reservationContainer .detailWrap .contact h3 {
    font-family: CircularStdBook;
    font-weight: 700;
  }
  .reservationContainer .detailWrap .contact .iconWrap {
    margin-top: 25px;
  }
  .reservationContainer .detailWrap .contact .iconWrap a {
    margin-right: 5px;
  }
  .reservationContainer .reservationWrap {
    margin-top: 50px;
  }
  .reservationContainer .reservationWrap h4 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'CircularStdBook';
    margin-bottom: 20px;
  }
  .reservationContainer .reservationWrap .reservationForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reservationContainer .reservationWrap .reservationForm .inputItem:after {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(-10px, 0%);
            transform: translate(-10px, 0%);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    content: "";
  }
  .reservationContainer .reservationWrap .reservationForm .inputItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid black;
    padding: 5px 15px;
    width: 100%;
    height: 80px;
  }
  .reservationContainer .reservationWrap .reservationForm .inputItem label {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1;
  }
  .reservationContainer .reservationWrap .reservationForm .inputItem input {
    border: none;
    color: #071D49;
    font-family: CircularStdBook;
    font-size: 24px;
    padding: 0 0;
  }
  .reservationContainer .reservationWrap .reservationForm .inputItem input:focus {
    outline: none;
  }
  .reservationContainer .reservationWrap .reservationForm .inputItem select {
    border: none;
    color: #071D49;
    font-family: CircularStdBook;
    font-size: 24px;
  }
  .reservationContainer .reservationWrap .reservationForm .inputItem select option {
    color: #071D49;
    font-family: CircularStdBook;
    font-size: 24px;
  }
  .reservationContainer .reservationWrap .reservationForm .inputItem select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
  .reservationContainer .reservationWrap .reservationForm .inputItem select::-ms-expand {
    display: none;
  }
  .reservationContainer .reservationWrap .reservationForm .inputItem select:after {
    position: absolute;
    background-image: url(images/arrow-down.svg);
    right: 0px;
    top: auto;
    bottom: 20px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
  }
  .reservationContainer .reservationWrap .reservationForm button {
    width: 100%;
    height: 70px;
    background-color: #071D49;
    color: white;
    border: none;
    font-family: CircularStdBook;
    font-weight: 700;
    position: relative;
  }
  .imageTextSliderContainer {
    height: 100%;
    width: 100%;
  }
  .imageTextSliderContainer .customSlide {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    gap: 0px 0px;
        grid-template-areas: "titleWrap" "imageWrap" "textWrap";
  }
  .imageTextSliderContainer .titleWrap {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: titleWrap;
    padding: 40px 30px 0;
  }
  .imageTextSliderContainer .imageWrap {
    width: 95%;
    max-height: 450px;
    margin: 0 auto;
    overflow: hidden;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: imageWrap;
  }
  .imageTextSliderContainer .imageWrap img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .imageTextSliderContainer .textWrap {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: textWrap;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    padding: 20px 30px 45px;
  }
  .imageTextSliderContainer .textWrap h4 {
    font-size: 24px;
  }
  .imageTextSliderContainer .textWrap p {
    font-size: 16px;
    margin-top: 20px;
  }
  .imageTextSliderContainer .textWrap .buttonContainer {
    margin-top: 50px;
    width: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .asSeenInContainer .asSeenIn span {
    display: none;
  }
  .col2-section .content-side > div {
    position: relative;
    padding: 0;
  }
  .location-swiper .swiper-pagination {
    display: block;
  }
  .cards .card .content {
    text-align: center;
  }
  .col2-section {
    height: auto;
  }
  .accordion-section .image-side {
    display: none;
  }
  .accordion-section.accordionMenu .image-side {
    display: block !important;
  }
  .accordion-panel img {
    display: block;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .col2-section .content-side {
    padding: 50px 10%;
  }
  .container {
    max-width: 80%;
  }
  .offercard-wrap {
    margin: auto;
    margin-top: 30px;
  }
  .story-expand {
    display: block;
  }
  .membership {
    height: auto;
  }
  .membership #membershipLine {
    margin-top: 30px;
    position: relative;
    bottom: 0;
    margin-bottom: 100px;
  }
  .din-title {
    margin-bottom: 30px;
  }
  .col2-section .content-side {
    padding: 100px 10%;
  }
  .accordion-wrap {
    margin-top: 60px;
  }
  .box-bottom .content h3 {
    width: 400px;
  }
  .instagram-wrap .col-lg:last-child {
    display: block;
  }
  .story-expand .calendar {
    right: 0;
  }
  .instagram-wrap .col-lg {
    margin-top: 12px;
  }
  .story-expand .item h3 {
    font-size: 30px;
  }
  .story-expand h2 {
    font-size: 70px;
  }
  .story-expand .item:hover {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    opacity: 1 !important;
  }
  .story-expand .item:hover h3 {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .story-expand .item:hover h2 {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .story-expand .item:hover .cat-text {
    top: -10px;
  }
  .membership {
    text-align: center;
  }
  .membership .din-title {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    left: 0;
    right: 0;
  }
  footer form {
    margin-bottom: 30px;
  }
  footer form input:first-child {
    width: 70%;
  }
  footer form input:last-child {
    width: 28%;
  }
  footer .logo {
    margin: auto;
    left: 0;
    right: 0;
    display: block;
    margin-bottom: 30px;
  }
  .box-top {
    padding: 20px 30px;
  }
  .story-expand .calendar {
    bottom: 0;
  }
  .story-expand .item {
    margin-bottom: 10px;
  }
  .locations {
    padding-bottom: 40px;
  }
  .locations .swiper-container-horizontal > .swiper-pagination-bullets,
  .locations .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -38px;
    left: 20px;
    text-align: left;
  }
  .locations .swiper-pagination-bullet-active {
    background-color: #071D49;
    opacity: 1;
  }
  .accordionFooterWrap {
    margin-top: 0;
    display: block !important;
    /* Thumb */
    /* Panel */
  }
  .accordionFooterWrap .accordionFooter {
    margin: 1rem 0;
    padding: 0;
    list-style: none;
  }
  .accordionFooterWrap .accordionFooterItem {
    border-bottom: 1px solid #071D49;
    position: relative;
  }
  .accordionFooterWrap .accordionFooterItem:after {
    position: absolute;
    background-image: url(../images/plus.png);
    content: "";
    width: 20px;
    height: 20px;
    background-size: contain;
    right: 0;
    top: 0;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
  }
  .accordionFooterWrap .accordionFooterItem.is-active:after {
    position: absolute;
    background-image: url(../images/remove.png);
    content: "";
    width: 20px;
    height: 20px;
    background-size: contain;
    right: 0;
    top: 0;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
  }
  .accordionFooterWrap .accordionFooterThumb {
    margin: 0;
    padding: 16px 0 20px;
    font-size: 24px;
    cursor: pointer;
    font-family: 'din_condensedbold';
  }
  .accordionFooterWrap .accordionFooterPanel {
    margin: 0;
    padding-bottom: 15px;
    display: none;
  }
}

@media (max-width: 767px) {
  header {
    padding: 0px 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .left-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .left-header .hamburger {
    padding: 20px 0 10px;
  }
  .left-header .hamburger .hamburger-inner, .left-header .hamburger .hamburger-inner::before, .left-header .hamburger .hamburger-inner::after {
    width: 35px;
  }
  .left-header .hamburger--slider .hamburger-inner {
    top: 2px;
  }
  .left-header .hamburger--slider .hamburger-inner::before {
    top: 8px;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
  }
  .left-header .hamburger--slider .hamburger-inner::after {
    top: 16px;
  }
  .left-header .hamburger--slider.is-active .hamburger-inner {
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
            transform: translate3d(0, 10px, 0) rotate(45deg);
  }
  .left-header .hamburger--slider.is-active .hamburger-inner::before {
    -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
            transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
  }
  .left-header .hamburger--slider.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -16px, 0) rotate(-90deg);
            transform: translate3d(0, -16px, 0) rotate(-90deg);
  }
  .headerLogoWrap svg {
    width: 50px;
    height: auto;
  }
  .right-header svg {
    width: 25px;
    height: auto;
  }
  .mapContainer {
    width: 100%;
    max-width: none;
    height: 100%;
    max-height: 150vh;
    padding: 0;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .mapContainer .content-side {
    width: 100%;
    padding: 0;
    padding-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mapContainer .image-side {
    width: 100%;
    height: 450px;
    padding-left: 0;
    margin-top: 30px;
  }
  .roomTypeSwiper {
    margin: 50px 0 100px;
    margin-left: 15px;
    width: 100%;
    max-width: 100%;
  }
  .roomTypeSwiper .swiper-wrapper .swiper-slide .imageSlideContainer {
    width: 100%;
    height: 100%;
  }
  .roomTypeSwiper .swiper-wrapper .swiper-slide .imageSlideContainer .swiper-wrapper {
    width: 100%;
    height: 100%;
  }
  .roomTypeSwiper .swiper-wrapper .swiper-slide .imageSlideContainer .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .roomTypeSwiper .swiper-wrapper .swiper-slide .imageSlideContainer .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: auto;
    min-height: 100%;
    max-height: 340px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50%,50%;
       object-position: 50%,50%;
  }
  .roomTypeSwiper .swiper-wrapper .swiper-slide .imageSlideContainer .swiper-wrapper .roomPagination {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
  .roomTypeSwiper .swiper-wrapper .swiper-slide .imageSlideContainer .swiper-wrapper .roomPagination .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    opacity: .3;
    margin-right: 5px;
  }
  .roomTypeSwiper .swiper-wrapper .swiper-slide .imageSlideContainer .swiper-wrapper .roomPagination .swiper-pagination-bullet-active {
    background-color: #fff;
    opacity: 1;
  }
  .roomTypeSwiper .swiper-wrapper .swiper-slide .contentContainer {
    margin-top: 30px;
    padding-right: 15px;
  }
  .roomTypeSwiper .swiper-wrapper .swiper-slide .contentContainer a {
    text-decoration: underline;
  }
  .roomTypeSwiper .swiper-pagination {
    display: none;
  }
  .imageTextSliderContainer {
    height: 100%;
    width: 100%;
  }
  .imageTextSliderContainer .customSlide {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    gap: 0px 0px;
        grid-template-areas: "titleWrap" "imageWrap" "textWrap";
  }
  .imageTextSliderContainer .titleWrap {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: titleWrap;
    padding: 40px 15px 0;
  }
  .imageTextSliderContainer .imageWrap {
    width: 95%;
    max-width: 362px;
    max-height: 337px;
    margin: 0 auto;
    overflow: hidden;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: imageWrap;
  }
  .imageTextSliderContainer .imageWrap img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .imageTextSliderContainer .textWrap {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: textWrap;
    -ms-flex-item-align: initial;
        -ms-grid-row-align: initial;
        align-self: initial;
    padding: 25px 15px 45px;
  }
  .imageTextSliderContainer .textWrap h4 {
    font-size: 20px;
  }
  .imageTextSliderContainer .textWrap p {
    font-size: 16px;
    margin-top: 20px;
  }
  .imageTextSliderContainer .textWrap .buttonContainer {
    margin-top: 50px;
    width: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .asSeenInContainer .asSeenIn {
    padding-top: 70px;
    padding-bottom: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 50px;
    justify-items: center;
        grid-template-areas: "logo1 logo1 logo2 logo2 logo3 logo3" ". logo4 logo4 logo5 logo5 ." ". . logo6 logo6 . .";
  }
  .asSeenInContainer .asSeenIn span {
    display: none;
  }
  .asSeenInContainer .asSeenIn .partnerLogo {
    max-width: 80px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .asSeenInContainer .asSeenIn .logo1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: logo1;
  }
  .asSeenInContainer .asSeenIn .logo2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: logo2;
  }
  .asSeenInContainer .asSeenIn .logo3 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-area: logo3;
  }
  .asSeenInContainer .asSeenIn .logo4 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: logo4;
  }
  .asSeenInContainer .asSeenIn .logo5 {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-area: logo5;
  }
  .asSeenInContainer .asSeenIn .logo6 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: logo6;
  }
  h3 {
    font-size: 20px;
  }
  .pt-large {
    padding-top: 80px;
  }
  .pb-large {
    padding-bottom: 80px;
  }
  .cat-text {
    font-size: 12px;
  }
  .pt-med {
    padding-top: 60px;
  }
  .col2-section .image-side {
    height: 600px;
  }
  .pb-med {
    padding-bottom: 60px;
  }
  .story-expand .item .cat-text,
  .story-expand .item:hover .cat-text {
    top: 0;
    margin-bottom: 5px;
  }
  .font-26 {
    font-size: 24px !important;
  }
  .location-swiper {
    margin-top: 40px;
  }
  .content-hover-wrap img {
    height: 550px;
  }
  #banner h2 {
    font-size: 64px;
    padding-top: 0;
  }
  .logo-header {
    width: 50px;
  }
  .navimg {
    width: 35px;
  }
  .usericon {
    width: 27px;
  }
  .float-booking {
    font-size: 14px;
    padding: 14px;
    letter-spacing: .6px;
  }
  .content-hover-wrap .content {
    padding: 30px;
  }
  .col2-section .content-side {
    padding: 70px 25px;
  }
  .din-title {
    font-size: 44px;
  }
  .subtitle {
    font-size: 20px;
  }
  .accordion-thumb {
    font-size: 22px;
  }
  .accordion-panel img {
    height: 250px;
  }
  .accordion-thumb::before {
    margin-left: 0;
  }
  .accordion-wrap {
    margin-top: 30px;
  }
  .accordion-panel {
    padding-left: 50px;
  }
  .accordion-item:before {
    width: 50px;
  }
  .accordion-section .content-side {
    padding-right: 0;
  }
  .accordion-panel span {
    padding-right: 25px;
    display: block;
  }
  .gallery-swiper {
    height: 600px;
  }
  .gallery-swiper .gallerySlideText {
    position: absolute;
    bottom: 50px;
    color: white;
    max-width: none;
    left: 30px;
    width: 90%;
  }
  .gallery-swiper .swiperButtonContainer {
    display: none;
  }
  .container {
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
  .box-bottom .content {
    bottom: 30px;
    left: 25px;
  }
  .story-expand h2 {
    font-size: 50px;
  }
  .instagram h2 {
    text-align: center;
  }
  .seeyou p {
    font-size: 34px;
    margin-bottom: 0;
  }
  .seeyouwrap {
    margin-top: 20px;
  }
  .seeyou h2 {
    font-size: 22px;
  }
  .offercard-wrap {
    max-width: 350px;
    margin-top: 10px;
  }
  .box-top {
    padding: 8px 25px;
  }
  .box-bottom img {
    height: 350px;
  }
  .story-expand .box-top a {
    top: 30px;
  }
  .story-expand .item h3 {
    font-size: 20px;
  }
  .box-bottom .content h3 {
    width: 250px;
  }
  footer * {
    font-size: 14px;
  }
  .locations h2 br {
    display: block;
  }
  header.nonTransparent .locationNavMobile {
    top: 60px;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  header.nonTransparent .locationNavMobile .ac.is-active .ac-header .ac-trigger:after {
    content: "";
    background-image: url(../images/arrow-down.svg);
    width: 20px;
    height: 20px;
    -webkit-transform: translate(-15%, -60%) rotate(180deg);
            transform: translate(-15%, -60%) rotate(180deg);
  }
  header.nonTransparent .locationNavMobile .ac {
    padding: 10px 15px;
    border-top: 1px solid gray;
  }
  header.nonTransparent .locationNavMobile .ac .ac-header .ac-trigger {
    padding: 0;
    color: #071D49;
    font-family: 'din_condensedbold';
    font-size: 20px;
  }
  header.nonTransparent .locationNavMobile .ac .ac-header .ac-trigger:after {
    content: "";
    background-image: url(../images/arrow-down.svg);
    -webkit-transform: translate(-15%, -50%);
            transform: translate(-15%, -50%);
  }
  header.nonTransparent .locationNavMobile .ac .ac-panel ul {
    margin-top: 15px;
    margin-bottom: 0;
  }
  header.nonTransparent .locationNavMobile .ac .ac-panel ul li {
    list-style-type: none;
    font-size: 16px;
    font-family: 'CircularStdBook';
  }
  header.nonTransparent .locationNavMobile .ac .ac-panel ul li a {
    list-style-type: none;
    font-size: 16px;
    font-family: 'CircularStdBook';
  }
  .matchingoffer {
    background: #ededed;
    height: 800px;
    width: 100vw;
  }
  .matchingoffer .titleCardWrapContainer {
    max-width: 991px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0;
  }
  .matchingoffer .titleCardWrapContainer .titleWrap {
    width: 100%;
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap {
    width: 100%;
    height: 80%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards {
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards div:nth-child(2) {
    pointer-events: all !important;
    cursor: -webkit-grab !important;
    cursor: grab !important;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .buttonContainer {
    width: 120px;
    position: absolute;
    top: initial;
    left: 50%;
    bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .buttonContainer .arrowButton {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: solid 2px #071D49;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer !important;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .buttonContainer .arrowButton .left {
    position: relative;
    right: 3px;
    bottom: 1px;
    cursor: pointer;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .buttonContainer .arrowButton .right {
    position: relative;
    left: 3px;
    bottom: 1px;
    cursor: pointer;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .card {
    margin-top: 50px;
    background: #E7BF92;
    top: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    pointer-events: none;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
    width: 300px;
    height: 400px;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .card .row {
    pointer-events: none !important;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .card .content {
    padding-top: 20px;
    pointer-events: none !important;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .card.purple {
    background-color: #AC9DB4;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .card.green {
    background-color: #90AD9D;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .cards .card.moving {
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .matchingoffer .titleCardWrapContainer .cardWrap .cards .cards .link {
    margin-top: 10px;
    display: inline-block;
  }
}
/*# sourceMappingURL=responsive.css.map */